NEXT_PUBLIC_SUPABASE_URL=https://jjatrpcodmoiedthvxvh.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Dy4CDTJ-yc73_QlSp2qafQ_bSwgD0tF
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
